<grm-set-token *ngIf="!isThereToken()" [removeTokenButton]="false"></grm-set-token>
<div class="my-3" *ngIf="isThereToken()">
    <a class="back-button" routerLink="/">&lt;&lt; Organization lista</a>
    <h4 class="mb-3">{{organization.name}}</h4>
    <div class="mt-1 mb-3">
        <h5 class="mb-2 mr-2 d-inline-block">Eredmények exportálása</h5>
        <grm-help-button [title]="exportInfoTitle" [content]="exportInfoContent"></grm-help-button>
        <div class="input-group">
            <div class="custom-file">
                <input (change)="fileChanged($event)" type="file" accept=".csv" class="custom-file-input"
                    id="fileBrowser">
                <label class="custom-file-label" for="fileBrowser">CSV fájl kiválasztása</label>
            </div>
            <div class="input-group-append">
                <a class="btn btn-outline-secondary" [ngClass]="{'disabled' : isExportButtonDisabled()}" #exportButton
                    href="">
                    Eredmények exportálása
                </a>
            </div>
        </div>
    </div>
    <div class="mt-1 mb-3">
        <div>
            <h5 class="mb-2 mr-2 d-inline-block">Feladatok</h5>
            <grm-help-button [title]="taskInfoTitle" [content]="taskInfoContent"></grm-help-button>
        </div>
        <button (click)="openCreateEditTaskModal()" class="btn btn-secondary mr-2 mb-2">Létrehozás</button>
        <button (click)="removeAllTasks()" class="btn btn-outline-danger mb-2" [disabled]="!areThereTasks()">
            Összes törlése
        </button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Név</th>
                    <th scope="col">Beadási határidő</th>
                    <th scope="col">Comment minta</th>
                    <th scope="col">Műveletek</th>
                </tr>
            </thead>
            <tbody *ngFor="let task of organization.tasks">
                <tr>
                    <td>{{task.name}}</td>
                    <td>{{task.deadline ? (task.deadline.toDate() | date:'yyyy.MM.dd.') : 'Nincs megadva'}}</td>
                    <td>
                        {{task.commentPrefix}}&lt;Pontszám&gt;{{ task.commentPostfix}}
                    </td>
                    <td class="text-right">
                        <i (click)="moveUp(task)" class=" fas fa-chevron-up p-2"></i>
                        <i (click)="moveDown(task)" class="fas fa-chevron-down p-2"></i>
                        <i (click)="openCreateEditTaskModal(task)" class="fa fa-edit p-2"></i>
                        <i (click)="removeTask(task)" class="fas fa-trash p-2"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center" *ngIf="!areThereTasks()">
            Még nem hoztál létre feladatot
        </div>
    </div>
    <div class="mt-1 mb-3">
        <h5 class="mb-2 mr-2 d-inline-block">Repository lista</h5>
        <grm-help-button [title]="repoInfoTitle" [content]="repoInfoContent"></grm-help-button>
        <div class="input-group mb-3">
            <input #prefixInput type="text" class="form-control" placeholder="Repository prefix"
                [value]="organization.prefix || ''" (keyup)="filterKeyUp($event)">
            <div class="input-group-append">
                <button (click)="setPrefix()" class="btn btn-secondary" type="button">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>
        <div class="list-group">
            <div *ngFor="let repository of organization.repositories">
                <button *ngIf="isVisible(repository)" class="list-group-item list-group-item-action" type="button"
                    [routerLink]="['/organizations', organization.name, 'repositories', repository.name]">
                    <span class="repo-name">
                        {{repository.name}}
                    </span>
                    <span class="stat" title="Az adott hallgató által megszerzett pontok száma.">
                        <span>{{repository.pointCount}}</span>
                        <i class="far fa-star"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>