a.fab{
    color: black;
}

a.fab:hover{
    color: dodgerblue;
    text-decoration: none;
}

.org-name{
    display: inline-block;
    margin-right: 5px;;
}

.repo-name{
    display: inline-block;
    width: calc(100% - 65px);
}

.list-group-item{
    padding: 10px;
}

.stat{
    display: inline-block;
    width: 55px;
    margin: 0 5px;
    text-align: right;

    span{
        margin-right: 5px;
        font-size: 18px;
    }
}

th:last-child{
    width: 150px;
}

td i:hover{
    cursor: pointer;
    color: dodgerblue;
}

td i:last-child:hover{
    color: red;
}

tbody:nth-child(2) i:first-child{
    cursor: default;
    color: lightgray;
}

tbody:last-child i:nth-child(2) {
    cursor: default;
    color: lightgray;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Tallózás";
}