<grm-set-token *ngIf="!isThereToken()" [removeTokenButton]="false"></grm-set-token>
<div class="my-3" *ngIf="isThereToken()">
    <a class="back-button" routerLink="/">&lt;&lt; Organization lista</a>
    <h4 class="mb-3">{{organization.name}}</h4>
    <div class="mt-1 mb-3">
        <h5 class="mb-2 mr-2 d-inline-block">Eredmények exportálása</h5>
        <grm-help-button [title]="exportInfoTitle" [content]="exportInfoContent"></grm-help-button>
        <div class="input-group">
            <div class="custom-file">
                <input (change)="fileChanged($event)" type="file" accept=".csv" class="custom-file-input"
                    id="fileBrowser">
                <label class="custom-file-label" for="fileBrowser">CSV fájl kiválasztása</label>
            </div>
            <div class="input-group-append">
                <a class="btn btn-outline-secondary" [ngClass]="{'disabled' : isExportButtonDisabled()}" #exportButton
                    href="">
                    Eredmények exportálása
                </a>
            </div>
        </div>

    </div>
    <div class="mt-1 mb-3">
        <h5 class="mb-2">Feladatok</h5>
        <div>...</div>
    </div>
    <div class="mt-1 mb-3">
        <h5 class="mb-2 mr-2 d-inline-block">Repository lista</h5>
        <grm-help-button [title]="repoInfoTitle" [content]="repoInfoContent"></grm-help-button>
        <div class="input-group mb-3">
            <input #prefixInput type="text" class="form-control" placeholder="Repository prefix"
                [value]="organization.prefix || ''" (keyup)="filterKeyUp($event)">
            <div class="input-group-append">
                <button (click)="setPrefix()" class="btn btn-secondary" type="button">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>
        <div class="list-group">
            <div *ngFor="let repository of organization.repositories">
                <button *ngIf="isVisible(repository)" class="list-group-item list-group-item-action" type="button"
                    [routerLink]="['/organizations', organization.name, 'repositories', repository.name]">
                    <span class="repo-name">
                        {{repository.name}}
                    </span>
                    <span class="stat" title="Az adott hallgató által megszerzett pontok száma.">
                        <span>{{repository.pointCount}}</span>
                        <i class="far fa-star"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>