.repo-name{
    display: inline-block;
    width: calc(100% - 65px);
}

.stat{
    display: inline-block;
    width: 55px;
    margin: 0 5px;

    span{
        margin-right: 5px;
        font-size: 18px;
    }
}

.custom-file-input ~ .custom-file-label::after {
    content: "Tallózás";
}