.card-title, .repo-name, h6{
    display: inline-block;
    margin-right: 5px;;
}

.card-title{
    font-size: 25px;
}

.card-subtitle{
    margin-bottom: 3px;
}

.card-body{
    padding: 5px 10px;
}

a.fab{
    color: black;
}

a.fab:hover{
    color: dodgerblue;
    text-decoration: none;
}

.font-size-25-px{
    font-size: 25px;
}