<grm-set-token *ngIf="!isThereToken()" [removeTokenButton]="false"></grm-set-token>
<div class="my-3" *ngIf="isThereToken()">
    <h4 class="mb-3">{{organization.name}}</h4>
    <div class="mt-1 mb-3">
        <h5 class="mb-2">Eredmények exportálása</h5>
        <div class="text-justify">
            Az eredmények exportálása lehetséges egy CSV kiterjesztésű fájlba, melynek (az első, fejléc sorát kivéve)
            minden sora a következő mintára illeszkedik:
        </div>
        <div class="text-center">
            &lt;Neptun-kód&gt;;&lt;Pontszám&gt;
        </div>
        <div class="text-justify">
            Az exportálás megkezdéséhez azonban előbb egy CSV kiterjesztésű fájlt kell feltölteni, a tallozás gombra
            kattintva, melynek (az első, fejléc sorát kivéve) minden sora a következő mintára illeszkedik:
        </div>
        <div class="text-center">
            &lt;Neptun-kód&gt;;&lt;GitHub Repository név&gt;
        </div>
        <div class="text-justify mb-3">
            A feltöltést követően az eredmények exportálása gombra kattintva letöltheted a fájlt.
        </div>
        <!--<div class="custom-file mb-2">
            <input (change)="fileChanged($event)" type="file" accept=".csv" class="custom-file-input" id="fileBrowser">
            <label class="custom-file-label" for="fileBrowser">CSV fájl kiválasztása</label>
        </div>
        <a class="btn btn-secondary" [ngClass]="{'disabled' : isExportButtonDisabled()}" #exportButton href="">
            Eredmények exportálása
        </a>-->

        <div class="input-group">
            <div class="custom-file">
                <input (change)="fileChanged($event)" type="file" accept=".csv" class="custom-file-input"
                    id="fileBrowser">
                <label class="custom-file-label" for="fileBrowser">CSV fájl kiválasztása</label>
            </div>
            <div class="input-group-append">
                <a class="btn btn-outline-secondary" [ngClass]="{'disabled' : isExportButtonDisabled()}" #exportButton
                    href="">
                    Eredmények exportálása
                </a>
                <!--<button class="btn btn-outline-secondary" type="button">Button</button>-->
            </div>
        </div>

    </div>
    <div class="mt-1 mb-3">
        <h5 class="mb-2">Feladatok</h5>
        <div>...</div>
    </div>
    <div class="mt-1 mb-3">
        <h5 class="mb-2">Hallgatók</h5>
        <div class="input-group mb-3">
            <input #prefixInput type="text" class="form-control" placeholder="Repository prefix"
                [value]="organization.prefix || ''" (keyup)="setPrefix()">
            <div class="input-group-append">
                <button (click)="setPrefix()" class="btn btn-secondary" type="button">Keresés</button>
            </div>
        </div>
        <div class="list-group">
            <div *ngFor="let repository of organization.repositories">
                <button *ngIf="isVisible(repository)" class="list-group-item list-group-item-action" type="button"
                    [routerLink]="['/tantargyak', organization.name, 'hallgatok', repository.id]">
                    <span class="repo-name">
                        {{repository.name}}
                    </span>
                    <span class="stat">
                        <span>{{repository.branchCount}}</span>
                        <i class="fas fa-code-branch"></i>
                    </span>
                    <span class="stat">
                        <span>{{repository.pointCount}}</span>
                        <i class="far fa-star"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>