<ng-template #modalContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    </div>
    <div class="modal-body text-justify" [innerHTML]="content"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
            {{closeButtonText}}
        </button>
    </div>
</ng-template>

<i class="far fa-question-circle" (click)="modalService.open(modalContent, { size: 'lg' })"></i>